#text-container {
    text-align: justify;
}

#text-cotainer,
.container {
    max-width: 1000px;
    margin: auto;
}
#format {
    width: 50px;
    position: fixed;
}
#app-formatter {
    position: fixed;
    width: 300px;
}
